<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <log4net>
      <appender name="UdpAppender" type="log4net.Appender.UdpAppender, Sitecore.Logging">
        <remoteAddress value="127.0.0.1" />
        <remotePort value="9000" />
        <layout type="log4net.Layout.PatternLayout, Sitecore.Logging">
          <conversionPattern value="${COMPUTERNAME} @@@ %d{ABSOLUTE} @@@ %t @@@ %p @@@ %c @@@ %m" />
        </layout>
      </appender>
      <root>
        <priority value="INFO">
          <patch:attribute name="value">DEBUG</patch:attribute>
        </priority>
        <appender-ref ref="UdpAppender" />
      </root>
    </log4net>
	</sitecore>
</configuration>